[Unit]
Description=uWSGI instance to serve ubuntuDeneme
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/ubuntuDeneme
Environment="PATH=/home/ubuntu/ubuntuDeneme/bin"
ExecStart=/home/ubuntu/ubuntuDeneme/bin/uwsgi --ini ubuntuDeneme.ini

[Install]
WantedBy=multi-user.target